@import '/packages/enketo-core/src/sass/core/main';
@import '/packages/enketo-core/src/sass/core/responsive';
@import '../component/widgets';
@import '/packages/enketo-core/src/sass/core/dropdown';
@import '/packages/enketo-core/src/sass/grid/main';

.btn.remove {
    margin-right: -26px;
    margin-left: -26px;
    .icon {
        margin: 0 4px;
    }
}
